@import url(https://fonts.googleapis.com/css?family=Mochiy+Pop+P+One:regular);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
    --primay: #ea40a4;
    --business: #3a82ee;
    --personal: var(var(--primay));
    --light: #eee;
    --dark: #313154;
    --danger: #ff5b57;


    --shadow: 0 1px 3px rgba(0, 0, 0, 0.746);


    --personal-glow: 0px 0px 4px #ea40a4;
    --business-glow: 0px 0px 4px #3a82ee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, Courier, monospace;
}