@import url(https://fonts.googleapis.com/css?family=Mochiy+Pop+P+One:regular);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
    --primay: #ea40a4;
    --business: #3a82ee;
    --personal: #ea40a4;
    --light: #eee;
    --dark: #313154;
    --danger: #ff5b57;
    --grey: #888;

    --shadow: 0 1px 3px rgba(0, 0, 0, 0.746);


    --personal-glow: 0px 0px 4px #ea40a4;
    --business-glow: 0px 0px 4px #3a82ee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, Courier, monospace;
}

input:not([type="radio"]):not([type="checkbox"]),
button {
    appearance: none;
    border: none;
    outline: none;
    outline: none;
    background: none;
    cursor: initial;
}

body {
    background-color: var(--light);
    color: var(--dark);
}


section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

h3 {
    color: var(--dark);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

h4 {
    color: var(--grey);
    font-weight: 70;
    font-size: .875rem;
    margin-bottom: .5rem;
}

.greeting .title {
    display: flex;
    margin-left: .5rem;
    flex: 1 1 0%;
    min-width: 0;
}

.greeting .title input {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 700;
}

.create-todo input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    background-color: #fff;
    color: var(--dark);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    padding: 1rem 1.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}

.category1{
    position: relative;
    top: 17.7px;
    width: 15px;
    height: 15px;
}

.create-todo .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
    margin-bottom: 1.5rem;
}

.create-todo .options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
}

#per{
    color: #ea40a4;
}

input[type="redio"],
input[type="checkbox"] {
    display: none;
}

.bubble {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18.98px;
    box-shadow: var(--business);
    border-radius: 50%;
    border: 2px solid var(--business);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: var(--business-glow);
}

.personal {
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
}}